[package]
name = "file-manager"
version.workspace = true
edition.workspace = true

[dependencies]
anyhow.workspace = true
thiserror.workspace = true
log.workspace = true
serde.workspace = true
rutils = { path = "../../libs/rutils" }
rgui = { path = "../../libs/rgui" }
