[package]
name = "redit"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
thiserror.workspace = true
clap.workspace = true
log.workspace = true
serde.workspace = true
crossterm = "0.27"
syntect = "5.0"
